.bg-slauteblue-sm {
  background-color: #2a2c54!important;
}

.cr-slauteblue-sm {
  color: #2a2c54!important;
}

.cr-slauteblue-xs {
  color: #3b3d76!important;
}

.y-reverse {
  transform: rotateY(3.142rad) translateY(-200px);
}